@import url("https://use.typekit.net/emk7jfr.css");
@import url("https://use.typekit.net/emk7jfr.css");

html {background-color: #Fff5ef}

#top {
	font-size: 20px;
	font-family: museo, serif;
	font-weight: 700;
	font-style: normal;
	color: #0020ff;
}

body{
	font-family: museo, serif;
	font-weight: 300;
	font-size: 15px;
	color:  #0020ff;
	display: inline-block;  padding: 50px 20px; border: 10px; margin: 20px;
}

a {
  color: #D5F591;
}

a:visited {
  color: #BFA8BB;
}
